<table>
	<p>
		<%@items.each do |image|%>
	<tr>
			<h2><%= image.title %></h2>
			<div>
				<%= image_tag image.image_url, class: "rounded-circle" %>
			</div>
			<p><strong>Description: </strong><%=image.description%></p>
			<h4>Price: <%= image.price %> $</h4>
			<hr>
	</tr>
	<% end %>
	</p>
</table>


<%=link_to "login", new_user_session_path%>


