<div class=showcat>

<h1>The product description of:</h1>
<table>
	<p>
	<tr>
		<td>
			<h2><%= @item.title %></h2>
			<div>
				<%= image_tag @item.image_url, class: "rounded-circle" %>
			</div>
		</td>
		<td>
			<p><strong>Description: </strong><%=@item.description%></p>
			<h4>Price: <%= @item.price %> $</h4>
			<hr>
		</td>			
	</tr>
	</p>
</table>

				<%if current_user && current_user.cart%>
				 <%=link_to "Add To cart", item_carts_path(params[:id]), role: "button", class: "btn btn-info", method: :post%>
				 <a href="<%=new_item_cart_charge_path(params[:id], current_user.cart.id)%>" type="button" class="btn btn-secondary">Passer commande</a>
				 <%elsif current_user%>
				 <%=link_to "Add To/Create cart", item_carts_path(params[:id]), role: "button", class: "btn btn-info", method: :post%>
				 <%end%>




</div>
