<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style type="text/css">
    body{
      background-color: #367;
    }
    #blog{
  color: #FFF;
  background-color: #808000;
  text-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  
  margin-top: 300px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 80px;
  text-align: center;
  font-family: arial;
    }
  </style>
</head>
<body>
  <div class='card text-white bg-success mb-3' id="blog">
  <%= form_tag  item_cart_charges_path(params[:item_id], params[:cart_id]) do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span class="btn btn-info">❤️❤️❤️❤️❤️<br><br><br><br> By now: $<%=@item.price%><br><br><br><br>❤️❤️❤️❤️❤️</span>
    </label>
  </article>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="By cat on line"
          data-amount="<%=@item.price%>"
          data-currency="usd"
          data-locale="auto"></script>
<% end %>
</div>
</body>
</html>
