

<h2>Modifier votre identité</h2>
<% if  @user.image.attached? %>
<span>
<%= image_tag @user.image , class: 'dit' %>
</span>
<% else%>
<p> Il n'y a pas photo de profil </p>
<% end%>




<div class='edi'>
	<%=form_for @user , url: user_path(@user.id) do |f|%>
	<div>
		<label>Nom :</label>
		<%=f.text_field :last_name , class: "input"%>
	</div>
	<div>
		<label>Prénom :</label>
		<%=f.text_field :first_name, class: "input"%>
	</div>
	<div>
		<label>Age :</label>
		<%=f.number_field :age, class: "input"%>
	</div>
	<div>
		<label>Ville :</label>
		<%=f.text_field :city, class: "input"%>
	</div>
	<div>
		<%=f.submit%>
	</div>
<%end%>
</div>


